.register-bg {
    background-image: url("../../Assets/Images/bgRegister.png");

}

.registerform-bg {
    background-color: #ffffff;

}

.registration-form {
    /* Thiết lập kiểu cho phần tử gốc của form */
    font-family: Arial, sans-serif;
    font-weight: 500;
    size: 14px;

  }
  
  /* Các kiểu cho phần tử input */
  .registration-form .input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #FFAAAF;
    border-radius: 6px;
  }
  
  /* Kiểu cho phần tử button */
  .registration-form button {
    background-color: #EA4B48;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
    border-radius: 6px;
  }
  
  /* Kiểu cho tiêu đề form */
  .registration-form h2 {
    margin-bottom: 15px;
    text-align: center;
    color: #FFAAAF;
    font-weight: 700;
    font-size: 50px;
    line-height: 38px;
    
  }

  /* Kiểu cho checkbox */
  .custom-checkbox {
    width: 20px;
    height: 20px;
    appearance: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 5px;
    position: relative;
    cursor: pointer;
  }
  .checkbox-container {
    display: flex;
    align-items: center;
  }
  
  .checkbox-container label {
    margin-left: 5px; /* Khoảng cách giữa checkbox và label */
  }
  
  /* Kiểu cho checkbox khi đã được chọn */
  .custom-checkbox:checked {
    background-color: #FFAAAF;
    border-color: #FFAAAF;
  }

  
  /* Kiểu cho dấu check (tick) trong checkbox khi đã được chọn */
  .custom-checkbox:checked::before {
    content: '\2713'; /* Dấu check (tick) Unicode */
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
  }