.login-bg {
    background-image: url("../../Assets/Images/bgRegister.png");

}

.loginform-bg {
    background-color: #ffffff;

}

.login-a {
    color: #FFAAAF;
}

.login-a2 {
    color: #425466;
}

.login-a3 {
    color: #718096;
}

.login-a4 {
    font-size: 14px;
    color: #4C4C4C;
}

.login-input {
    border: 1px solid #FFAAAF;
    border-radius: 6px;
}

.login-input:focus {
    border: 2px solid #FFAAAF;
    border-radius: 6px;
}

.login-a2 {
    width: 424px;
    height: 18px;
    top: 672px;
    left: 1196px;
    gap: 24px;
}

.h{
    width: 100%;
}
